{
  "ignore": [
    "node_modules/**"
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env"]
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": {
              "browsers": ["last 2 versions", "safari >= 7"]
            }
          }
        ]
      ]
    }
  }
}
